<!DOCTYPE html>
<html lang="en">
<!-- HEAD -->
<%- include('./partials/head') %>

    <body>
        <figure>
            <img src="/img/logo-DH.png" alt="Logo Digital House">
        </figure>
        <h1>
            <%= movie.title %>
        </h1>
        <br>
        <table class="table table-striped">
            <tbody>
                <thead>
                    <tr>
                      <th scope="col">RATING:</th>
                      <th scope="col">AWARDS:</th>
                      <th scope="col">LENGTH:</th>
                      <th scope="col">RELEASE DATE:</th>
                    </tr>
                  </thead>
                <tr>
                    <td> <%= movie.rating %>
                    </td>
                    <td> <%= movie.awards %>
                    </td>
                    <td> <%= movie.length + ' min' %>
                    </td>
                    <td> <%= movie.release_date %>
                    </td>
                </tr>
            </tbody>

        </table>


        <a class="btn btn-info" href="/movies/edit/<%= movie.id %> ">Editar</a>
        <a class="btn btn-danger" href="/movies/delete/<%= movie.id %> ">Eliminar</a>
        <a class="btn btn-info" href="/movies">Movies</a></p>

        <!-- SCRIPT-BOOTSTRAP -->
        <%- include('./partials/script') %>
    </body>

</html>